*{
    box-sizing: content-box;
    margin:0;
    padding: 0;
}

#profile-header{
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0;
    background-image: url("../../resources/images/profile-cover.gif");
    opacity: 0.98;
}

#profile-photo-wrap{
    text-align: center;
    position: relative;
    
}
#profile-photo-wrap img{
    margin-top: 10%;
}
.profile-info-wrap{
    text-align: center;
}
#profile-user-name{
    color: #ffffff;
    font-family: 'Segoe UI';
    font-weight: 600;
}
#online-indicator{
    border-radius: 100%;
    background-color: #06CC39;
    width: 15px;
    height: 15px;
}
.info-inline{
    display: inline-block;
    margin-left: 5px;
}