/*GLOBAL */
body{
    font-family: 'Segoe UI';
    background-color: #E5E5E5;
}
a{
    color: #3E6BB3;
    font-weight: 500;
    text-decoration: none;
}
*{
    box-sizing: content-box;
    margin:0;
    padding: 0;
}
hr{
    opacity: 0.4;
}

#profile-header{
    position:relative;
    height: 320px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
    background-image: url("http://cdn.wallpapersafari.com/71/36/JPEBlv.jpg");
    opacity: 0.9;
}

#profile-photo-wrap{
    text-align: center;
    position: relative;
    
}
#profile-photo-wrap img{
    margin-top: 2%;
}
.profile-info-wrap{
    text-align: center;
}
#profile-user-name{
    color: #ffffff;
    font-family: 'Segoe UI';
    font-weight: 600;
}
#online-indicator{
    border-radius: 100%;
    background-color: #06CC39;
    width: 10px;
    height: 10px;
    top: -3px;
    position: relative;
}
.info-inline{
    display: inline-block;
    margin-left: 5px;
}

.profile-main-btn{
    width: 320px;
    position: relative;
    margin: 0 auto;
    clear: both;
    margin-bottom: 35px;
    color: #ffffff;
}
#add-friend-btn,#send-msg-btn{
    background-color: #3B3F51;
    width: 120px;
    border-radius: 40px;
    padding: 5px;
    font-family: 'Open-sans';
    cursor: pointer;
    border: 1px solid #898a92 !important;
    
}
#add-friend-btn:active,#send-msg-btn:active{
    background-color: #5c5d65;
}


.left{
    float: left;
}
.right{
    float: right;
}

.profile-tabs{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
    /* margin-top: 4%; */
    /* height: 100%; */
    bottom: 0px;
    box-shadow: 1px 1px 12px 0px #CDCFCD;
    
}
.tabs-inline{
    display: inline-block;
    color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
}

.tabs-inline:active{
    color: silver;
}


/* ------------------ SECTION ---------------------- */
#post-comment-textarea-wrap{
    padding: 15px;
    margin-left: -45px;
    
}
#profile-content{
    text-align: center;
    background-color: #ffffff;
    margin-top: 0;
    padding: 25px;
}

.a-post-user-profile-photo-wrap img{
    width: 67px;
    height: 67px;
}
.a-post-user-profile-name{
    position: absolute;
    margin-left: 10px;
    
}
.p-item-inline{
    display: inline-block;
}


.fa-heart{
 color:#3E6BB3;   
 font-size: 20px !important;
}

#wrap-user-main-detail{
    margin-right: 60%;
    padding: 10px;
}

.a-post-textarea{
    text-align:justify;
    color: #6f6a6a;
    margin-bottom: 4%;
    letter-spacing: 1px;
}
#a-post-like-count{ /* Can be clickable to show other users who like the post? */
        font-size:0.725rem;
        margin-top: -0.5%;
        color: #3E6BB3;
        border-bottom: 1px solid rgb(172, 182, 197);
        cursor: pointer;
}
.user-interactions{
        width: 100%;
        margin:0 auto;
}
#like-info{
    margin-right: 16%;
}
#share-btn{
   margin-top: -0.5%;
}

.interaction-inline{
    display: inline-block !important;
    text-align: center;
    vertical-align: middle;
}

#profile-of-viewer-container{
    display: inline-flex !important;
    width: 50px;
    height: 50px;
    margin-top: 3%;
    padding: 1%;
}

#submit-comment{
    border-radius: 15%;
    display: inline-flex;
    margin-top: 2%;
    position: absolute;
    margin-left: 60%;
    border: 0;
    padding: 10px;
    background-color: #7d8286;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}

#comment-1{
    padding: 20px;
}
.a-comment-detail-photo,.user-profile-name{
    display: inline-flex;
}
.user-profile-name{
    margin-left: 1%;
    font-weight: 500;
    font-family: Segoe UI;
    color: rgba(0, 0, 0, 0.62);
    float:left;
}
.a-comment-detail-photo{
    width: 50px;
    height: 50px;
    float: left;
}


.comment-textarea{
    display: inline-block;
    text-align:justify;
    color: #6f6a6a;
    margin-bottom: 4%;
    letter-spacing: 1px;
    margin-top: 2%;
}